.header {
  text-align: center;
  background-color: #864aff;
  padding: 20px 20px 20px 20px;
}

img {
  padding: 20px 20px 20px 20px;
}

.datatable {
  padding: 15px 15px 15px 15px;
}

.pagebutton {
  margin: 0px 5px 15px 5px;
}

.pagebuttons {
  text-align: center;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.details {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  color: #00fdcb;
}

dl {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 50%;
  background: #393b45;
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 50%;
  background: #ffffff;
  padding: 0;
  margin: 0;
  color: black;
}
